.content {
  display: grid;
  height: 75vh;
}

.qrCodes {
  display: flex;
  justify-content: space-evenly;
}

.qrCode {
  height: 40vh;
  width: 40vh;
}

.title {
  font-size: 3vw;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

.text {
  font-size: 2vw;
}
