<div class="content">
  <div class="text dvagText">Vielen Dank für eure Aufmerksamkeit</div>
  <div class="qrCodes">
    <figure>
      <img class="qrCode" src="./assets/m-bodsch.jpg" alt="Maximilian Bodsch">
      <figcaption class="text dvagText">Max Bodsch</figcaption>
    </figure>
    <figure>
      <img class="qrCode" src="./assets/t-kurz.jpg" alt="Tobias Kurz">
      <figcaption class="text dvagText">Tobias Kurz</figcaption>
    </figure>
    <figure>
      <img class="qrCode" src="./assets/github-repo.png" alt="Tobias Kurz">
      <figcaption class="text dvagText">Github Repo</figcaption>
    </figure>
  </div>
</div>
