.title {
  font-size: 2.5vw;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

.main {
  font-size: 2.0vw;
}

.bullet {
  font-size: 1.3vw;
  list-style-position: inside;
}

.pictureRight {
  flex-direction: row;
}

.pictureLeft {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.textContent {
  width: 60vw;
}

.pictureContent {
  width: 30vw;
}

.pictureContentStreched {
  width: 55vw;
}

.picture {
  object-fit: fill;
  width: 95%;
  height: auto
}

