.main {
  font-size: 2.8vw;
}

.bullet {
  font-size: 1.8vw;
  list-style-position: inside;
}

.pictureRight {
  flex-direction: row;
}

.pictureLeft {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.textContent {
  width: 60vw;
}

.pictureContent {
  width: 30vw;
}

