.main {
  font-size: 3vw;
  color: #c8aa22;
}

.bullet {
  font-size: 2vw;
  list-style-position: inside;
  color: #c8aa22;
}

.pictureRight {
  flex-direction: row;
}

.pictureLeft {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.textContent {
  width: 45vw;
}

.pictureContent {
  width: 45vw;
}

